.scoreButton {
    height: 50%;
    width: 50%
}

#scoreButtonDiv {
    height: 20vh;
    text-align: center;
}

#addScore {
    background-color: #77dd77;
    color: white;
    font-size: 4vh;
}

#subtractScore {
    color: white;
    font-size: 4vh;
    background-color: #ff6961;
}

#scoreTypeLabel {
    font-size: 4vh;
    width: 100%;
}