/* change colors for input field soon */

.inputField {
    width: 80%;
    height: 10%;
    padding: 10px;
    outline: 0;
    border: 3px solid #1c87c9;
    background: #d0e2bc;
    line-height: 20px;
  }

#scouterComments {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    height: 100vh;
    flex-wrap: wrap;
}

#submitButton {
    height: 10%;
    width: 80%;
    display: block;
}

#title {
    display: block;
    text-align: center;
    font-size: 4vh
}

#driverCommentsheader {
    display: block;
    text-align: center;
    font-size: 2vh
}

#intakeCommentsheader {
    display: block;
    text-align: center;
    font-size: 2vh
}

#autonomousCommentsheader {
    display: block;
    text-align: center;
    font-size: 2vh
}

#teleopCommentsheader {
    display: block;
    text-align: center;
    font-size: 2vh
}

#uniqueCommentsheader {
    display: block;
    text-align: center;
    font-size: 2vh
}

#redFlagsheader {
    display: block;
    text-align: center;
    font-size: 2vh
}

#additionalCommentsheader {
    display: block;
    text-align: center;
    font-size: 2vh
}

.error {
    color: red;
    display: block;
    font-size: 3vh;
    width: 100%;
    text-align: center;
}