#mainDiv {
    text-align: center;
    font-size: 4vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

#qrCode {
    height: "auto";
    width: "90%";
    margin: "10 auto";
}

p {
    width: 80%
}