#mainDiv {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2vh
}

.gamePieceFocus {
    height: 20vh;
    width: 60vh;
}

.penalties {
    width: 60vh;
    height: 18vh
}

.matchInforadioInput {
    height: 7vh
}

#roleHeader {
    font-size: 2vh
}

#penaltiesHeader {
    font-size: 2vh
}

#abilityHeader {
    font-size: 2vh
}

#focusHeader {
    font-size: 2vh
}
