#mainDiv {
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2vh
}

.gamePieceFocus {
    height: 25vh;
    width: 60vh;
}

.penalties {
    width: 60vh;
}

#roleHeader {
    font-size: 3vh
}

#penaltiesHeader {
    font-size: 3vh
}

#abilityHeader {
    font-size: 3vh
}

#focusHeader {
    font-size: 3vh
}