#mainDiv {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gamePieceFocus {
    height: 25vh;
    width: 60vh;
}

.penalties {
    width: 60vh;
}
