#noMobility {
    width: 50%;
    background-color: #ff6961
}


#hasMobility {
    width: 50%;
    background-color: #77dd77;
}

button {
    width: 50%;
    height: 10vh;
    font-size: 3vh;
    background-color: grey;
    font-weight: bold
}
