.scoreButton {
    height: 50%;
    width: 50%
}

#addScore {
    background-color: #77dd77;
    color: white;
    font-size: 100%;
}

#subtractScore {
    color: white;
    font-size: 100%;
    background-color: #ff6961;
}

#scoreTypeLabel {
    font-size: 100%;
    width: 100%;
}
