.inputField {
    width: 80%;
    display: block;
    height:10%;
}

#scouterInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    height: 100vh;
    flex-wrap: wrap;
}

#submitButton {
    height: 10%;
    width: 80%;
    display: block;
}

#title {
    display: block;
    text-align: center;
    font-size: 4vh
}

.error {
    color: red;
    display: block;
    font-size: 3vh;
    width: 100%;
    text-align: center;
}